doctype 5
html
	head
		title Sponge MC Auth Server
	body
		p This is the landing page for the Sponge MC Auth Server... I'm not sure how you ended up here, but make sure to read our guide on how to properly authenticate your account.