html
  head
    title MC Auth Server
  body
    h1 MC Auth Server
    p This is the landing page for the MC Auth Server... I'm not sure how you ended up here, but make sure to read our guide on how to properly authenticate your account.
    p Connect to this domain in Minecraft to get your token.